CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
*.mod
*.o
*.exe
*.lib
*.bat
*.vfproj
*.vcproj
*.sln
build*/**
!build/.gitkeep
install/**

.*.swp
.*.swo

compiling/*
bin/*
/src/MAP/MAP_Types.h

Doxygen

*_Types.f90
!NWTC_Library_Types.f90
!ModMesh_Types.f90

.DS_Store

*~lock.*
